# Mongo
MONGO_URI=mongodb://mongo:27017

# Email
EMAIL_ACCOUNT=your-email@gmail.com
EMAIL_PASSWORD=your-app-password
IMAP_SERVER=imap.gmail.com

# SMTP Details
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

# Timezone
TIMEZONE=Asia/Kolkata

# Jira
JIRA_BASE_URL=https://your-domain.atlassian.net
JIRA_EMAIL=your-email@company.com
JIRA_API_TOKEN=your-api-token
JIRA_PROJECT_KEY=SUP
JIRA_ISSUE_TYPE=Incident